Test-Spelling-*.tar.gz
/Test-Spelling*
Test-Spelling*/
Build
/MANIFEST.SKIP.bak
/MANIFEST.bak
META.YML
MYMETA*
Makefile
Makefile.old
SSL
blib
blib/
.alien/
_alien/
.build/
_build/
cover_db/
/_eumm/
.perl-version
pm_to_blib
*.sw*
*.tar.gz
xx*
*.bs
*.o
