Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Kivanc Yazan <kyzn@cpan.org> <kivancyazan@gmail.com>
Olaf Alders <oalders@cpan.org> <olaf@wundersolutions.com>
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Shawn M Moore <sartak@cpan.org> <code@sartak.org>
Shawn M Moore <sartak@cpan.org> <sartak@bestpractical.com>
Shawn M Moore <sartak@cpan.org> <sartak@gmail.com>
Shawn M Moore <sartak@cpan.org> <shawn.moore@iinteractive.com>
Thomas Sibley <tsibley@cpan.org> <trs@bestpractical.com>
