Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Shawn M Moore <sartak@cpan.org> <code@sartak.org>
Shawn M Moore <sartak@cpan.org> <sartak@bestpractical.com>
Shawn M Moore <sartak@cpan.org> <sartak@gmail.com>
Shawn M Moore <sartak@cpan.org> <shawn.moore@iinteractive.com>
